{% extends "base.html" %}
{% load static %}

{% block additional_headers %}
 <link rel="stylesheet" href="{% static 'gallows_styles/gallows.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid" align="center">
    <div class="row">
      <div class="col-md-5">
        <h3>Виселица ждет тебя!</h3>
        <form method="post" action="{% url 'gallows_start' %}">
          {% csrf_token %}
          <div class="col-md-8 radio-toolbar">
          {% for diff in form.difficulty %}
            {{ diff.tag }}
            <label for="{{ diff.id_for_label }}">{{ diff.choice_label }}</label>
            {% endfor %}
          </div>

          <div class="col-md-8 radio-toolbar">
          {% for lang in form.language %}
            {{ lang.tag }}
            <label for="{{ lang.id_for_label }}">{{ lang.choice_label }}</label>
            {% endfor %}
          </div>
           <style> 
            .button {
            background-color: #1c87c9;
            -webkit-border-radius: 60px;
            border-radius: 60px;
            border: none;
            color: #eeeeee;
            cursor: pointer;
            display: inline-block;
            font-family: sans-serif; 
            font-size: 20px;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            }
            @keyframes glowing {
            0% { background-color: #a81805; box-shadow: 0 0 5px #a81805; }
            50% { background-color: #f33f27; box-shadow: 0 0 20px #f33f27; }
            100% { background-color: #a81805; box-shadow: 0 0 5px #a81805; }
            }
            .button {
            animation: glowing 1300ms infinite;
            }
          </style>
            <button type="submit" class="button">
              Погнали!
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'img/gallows.jpg' %}" alt="">
      </div>
    </div>
  </div>
{% endblock %}
