{% extends "base.html" %}
{% load static %}

{% block additional_headers %}
 <link rel="stylesheet" href="{% static 'gallows_styles/gallows.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid" align="center">
    <div class="row">
      <div class="col-md-5">
        <h3>Виселица ждет тебя!</h3>
        <form method="post" action="{% url 'gallows_start' %}">
          {% csrf_token %}
          <div class="col-md-8 radio-toolbar">
          {% for diff in form.difficulty %}
            {{ diff.tag }}
            <label for="{{ diff.id_for_label }}">{{ diff.choice_label }}</label>
            {% endfor %}
          </div>

          <div class="col-md-8 radio-toolbar">
          {% for lang in form.language %}
            {{ lang.tag }}
            <label for="{{ lang.id_for_label }}">{{ lang.choice_label }}</label>
            {% endfor %}
          </div>

          <div class="col-md-8">
            <button type="submit" class="btn btn-secondary">
              Погнали!
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'img/gallows.jpg' %}" alt="">
      </div>
    </div>
  </div>
{% endblock %}