{% extends "base.html" %}
{% load static %}

{% block additional_headers %}
 <link rel="stylesheet" href="{% static 'gallows_styles/gallows.css' %}">
{% endblock %}


{% block content %}
  <div class="container-fluid" align="center">
    <div class="row">
      <div class="col-md-5">
        <h3>Виселица ждет тебя!</h3>
        <div class="col-md-6">
          <h1>{{ word }}</h1>
        </div>
        <div class="col-md-6">
          <div class="mx-auto" style="width: 200px;">
            <fieldset class="border border-dark" >
              <p class="font-weight-bold">Осталось попыток</p>
              <h2>{{ game.counter }}</h2>
            </fieldset>
          </div>
        </div>
        <form method="post" action="{% url 'gallows_game' game.game_id %}">
          {% csrf_token %}
          <div class="col-md-8 radio-toolbar">
          {% for choice in form.current_guess %}
            {{ choice.tag }}
            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
          {% endfor %}
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-secondary">
              Проверить!
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'img/gallows.jpg' %}" alt="">
      </div>
    </div>
  </div>
{% endblock %}