{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<div class="container">
<div class="row">
<div class="col"></div>
<div class="col">

<h1>Log In</h1>


{% if form.errors %}
<div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="alert">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Please login to see this page.</div>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

{% for field in form %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span for="{{ field.id_for_label }}" class="input-group-text" id="inputGroup-sizing-default">{{ field.label }}</span>
     </div>
      {{ field }}
  </div>
{% endfor %}

    <div class="text-md-left">
        <input class="btn btn-dark" type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </div>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
<div class="col"></div>
</div>
</div>

{% endblock %}

