{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div align="center">
            <img src="{% static 'img/header.jpg' %}" class="rounded-pill">
        </div>

        <div class="card-group">
            {% with remark="Короткая ремарка"  btn="btn-dark"  %}
            {% include "card.html" with style="text-black bg-light"  title="Перевод" text="Подберите правильный перевод слова."%}
            {% include "card.html" with style="text-white bg-primary" title="Подстановка" text="Подставьте правильное слово в предложение" %}
            {% include "card.html" with style="text-white bg-secondary" title="Аудирование" text="Напишите услышанное предложение" %}
            {% endwith %}
        </div>

        <div class="card-group">
            {% with remark="Только платным подписчикам"  btn="btn-light" %}
            {% include "card.html" with style="text-white bg-success" title="Грамматика" text="Упражнение по грамматике" %}
            {% include "card.html" with style="text-white bg-info" title="Формы слова" text="Запишите слово в правильной форме: время, род, число" %}
            {% include "card.html" with style="text-white bg-dark" title="Словарный запас" text="Запоминаем слова на скорость.<ul><li>запоминаем слова на время.</li><li>проверяем полученные знания</li></ul>" %}
            {% endwith %}
        </div>

        <div class="card-group">
            {% with remark="Только платным подписчикам"  btn="btn-light" %}
            {% include "card.html" with style="text-white bg-danger" title="Виселица" text="Игра в виселицу" url="gallows/"%}
            {% endwith %}
        </div>

    </div>
{% endblock content %}

