{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div align="center">
            <img src="{% static 'img/header.jpg' %}" class="rounded-pill">
        </div>

        <div class="card-group">
            {% with remark="В процессе разработки"  btn="btn-dark"  %}
            {% include "card.html" with style="text-black bg-light"  title="Перевод" text="Подберите правильный перевод слова." img="translate.png" %}
            {% include "card.html" with style="text-white bg-primary" title="Подстановка" text="Подставьте правильное слово в предложение" img="substitute.png" %}
            {% include "card.html" with style="text-white bg-secondary" title="Аудирование" text="Напишите услышанное предложение" img="audition.png" %}
            {% endwith %}
        </div>
        <html>
  

        <div class="card-group">
            {% with remark="В процессе разработки"  btn="btn-light" %}
            {% include "card.html" with style="text-white bg-success" title="Грамматика" text="Упражнение по грамматике" img="grammar.png" %}
            {% include "card.html" with style="text-white bg-info" title="Формы слова" text="Запишите слово в правильной форме: время, род, число" img="forms.png" %}
            {% include "card.html" with style="text-white bg-dark" title="Словарный запас" text="Запоминаем слова на скорость.<ul><li>запоминаем слова на время.</li><li>проверяем полученные знания</li></ul>" img="Vocabulary.png" %}
            {% endwith %}
        </div>

        <div class="card-group">
            {% with remark="В процессе разработки"  btn="btn-light" %}
            {% include "card.html" with style="text-white bg-danger" title="Виселица" text="Игра в виселицу" url="gallows/" img="gallows.png"%}
            {% endwith %}
        </div>

    </div>
{% endblock content %}

